@import "bootstrap/scss/bootstrap";

.base-container {
    max-width: 768px;
    margin: 0 auto;
    padding: 1rem;
  }

// ナビバーのテキストサイズを変更
.collapse {
    font-size: 13px;
  }

body {
    // navbar-fixed-top 対応
    padding-top: 80px;
  }

#container{
  @media screen and (min-width: 1200px){
    width: 1200px;
  }
  @media screen and (min-width: 992px){
    width: 990px;
    padding: 120px 0 80px 0;
    margin: 0 auto;
  }
  @media screen and (min-width: 0px){
    width: 90%;
    margin: 0 auto;
    padding: 50px 0 160px 0;
  }
}

.container-fluid{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.video-card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,0.125);
  border-radius: 0.25rem;
}
.embed-responsive-16by9::before {
  padding-top: 56.25%;
}
.embed-responsive::before {
  display: block;
  content: "";
}
.embed-responsive iframe{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}

.movie-body{
  @media screen and (min-width: 992px){
    height: 240px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  @media screen and (min-width: 0px){
    height: 290px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

#container p{
  @media screen and (min-width: 992px){
    font-size: 17px;
  }
  @media screen and (min-width: 0px){
    font-size: 2.2em;
    line-height: 1.9em;
  }
}

@media screen and (min-width: 0px){
  #container p.movie-title {
      height: 200px;
      font-size: 1.7rem;
      line-height: 1.5em;
  }
}

#container p{
  @media screen and (min-width: 992px){
    font-size: 17px;
  }
  @media screen and (min-width: 0px){
    font-size: 2.2em;
    line-height: 1.9em;
  }
}

.card-text:last-child {
    margin-bottom: 0;
}

.video-base-container {
  @extend .base-container;
  max-width: 1220px;
} 

.question-container {
  padding: 30px 0;
}

.question {
  padding: 10px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

#questions a {
  text-decoration: none;
  display: block;
  color: #333333;
  border: solid 2px #505050;
  border-radius: 10px;
  transition: .4s;
}

#questions a .title {
  font-size: 22px;
  line-height: 2;
}

#questions a .info {
  padding: 10px 10px 10px 20px;
  color: #BBBBBB;
}

#container p {
  font-size: 17px;

}

.field_with_errors {
  display: contents;
  textarea {
    @extend .is-invalid;
  }
}

.ruby-rails-base-container {
  @extend .base-container;
  max-width: 1020px;
}

#container{
  padding:120px 0 80px 0;
  margin: 0 auto;
}

.texts-wrapper{
  text-align: center;
}


@media screen and (min-width: 992px){
  .texts-contents{
    display: flex;
    flex-wrap: wrap;
  }
}



.texts-content{

  background-color:#f7f7f7;
  box-shadow: 0px 1px #c7d4e6;
  border-radius: 9px;
  cursor: pointer;
  position: relative;

  @media screen and (min-width: 992px){
      width: calc(94% / 3);
      margin: 0 1%;
      padding:0;
      margin-bottom:50px;
      border: 1px solid #c7d4e6;
  }

  @media screen and (min-width: 1200px){
    height: 360px;
  }

  a {
    text-decoration: none;
    display: block;
    height: 100%;
  }
  
}

.line-base-container {
  @extend .base-container;
  max-width: 720px;

  .table-header{
    background-color: #28a745;
  }

}