<% if @question.errors.any? %>
    <p class="alert alert-danger"><%= @question.errors.count %>つのエラーがあります。</p>
    <% @question.errors.full_messages.each do |msg| %>
  
      <li class="" role="alert" style="color: red;"><%= msg %></li>
    <% end %>
<% end %>
